* {
  margin: 0;
  padding: 0;
}

button {
  padding: 8px 16px;
  align-self: flex-start;
  margin: 0 0 36px 28px;
  color: white;
  background-color: gray;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  cursor: pointer;
  transition: ease-in 0.3s;
}

.page {
  margin: none;
  padding: none;
  background-image: linear-gradient(to bottom, white, black);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.count {
  font-size: 500px;
  margin: 0 auto;
  text-align: center;
}
