* {
  margin: 0;
  padding: 0;
}

button {
  font-size: 0.8em;
  width: 150px;
  height: 50px;
  background-color: #ffdb4d;
  border-radius: 2px;
  cursor: pointer;
}

.page {
  margin: none;
  padding: none;
  background-image: linear-gradient(to bottom, white, black);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button__container {
  max-width: 468px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

.count {
  font-size: 500px;
  margin: 0 auto;
  text-align: center;
}
